#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  font-family: "Instrument Sans", sans-serif;
}

body {
  background-color: #060e12;
}

/* Hide the scroll bar but allow scrolling */
.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.custom-radio {
  appearance: none;
  width: 15px;
  height: 15px; 
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #1D6F91;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-radio:checked {
  background-color: #1D6F91;
  border: none;
}

